$bgColor: #fff;
$detailColor: #0eab10;
$mainColor: white;
$mainFont: 'Roboto'; /* Main Font */
$headingFont: 'Roboto', sans-serif; 
$primary: #007bff;
$secondaryBlue: #0079bf;

$boxShadow: 0 1px 6px rgba(57,73,76,.35);
